<html>
    <head>
        <title>Log In</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <style>
        #MainLoginArea {
            margin: auto;
            height: 400px;
            width: 500px;
        }

        #mainbreak {
            height = 300px;
            width:100%;
        }
        </style>
    </head>
<body>
    <div id="mainbreak"></div>
    <div id="MainLoginArea">
        <h3 class="display-1">Stránka s přihlášením</h3>
        <form method="POST">
            <input type="text" aria-label="Jméno" class="form-control" placeholder="UserName", name = "Username"></input>
            <br>
            <input aria-label="Heslo" class="form-control" placeholder ="Password", type ="Password", name ="Password",></input>
            <br>
            <input type = "Submit" class="btn btn-dark"></input>
        </form>
    </div>
</body>
</html>